.presentation-title {
  font-size: 5vw;
  font-weight: 700;
  margin: 0;
  color: #ffffff;
}

.subtitle {
  color: #ffffff;
  background: linear-gradient(to bottom, #ffffff 35%, #000000 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-weight: 700;
  font-size: 2vw;
}

.wrapper {
  background-size: cover;
  background-position: center;
}

.xd {
  background: linear-gradient(
    60deg
    , #47b2bc, #2460aa);
}
